<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.nanfeng.mcs.create.command.CreateModuleCommand"
            id="com.zuohao.iptv.portal.mcs.newModule"
            name="Module">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               icon="icon/main.png"
               label="MCS">
            <command
                  commandId="com.zuohao.iptv.portal.mcs.newModule"
                  icon="icon/new.png"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.jdt.core.IJavaProject">
                     </adapt>
                  </iterate>
               </with>
                  <with
                        variable="activeMenuSelection">
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                           <adapt
                           type="org.eclipse.jdt.core.IPackageFragment">
                     </adapt>
                     </iterate>
                  </with>
                   <with
                        variable="activeMenuSelection">
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                           <adapt
                           type="org.eclipse.jdt.core.IPackageFragmentRoot">
                     </adapt>
                     </iterate>
                  </with>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.zuohao.iptv.portal.mcs.category"
            name="MCS">
      </category>
      <wizard
            category="com.zuohao.iptv.portal.mcs.category"
            class="org.nanfeng.mcs.create.wizard.CreationWizard"
            icon="icon/new.png"
            id="com.zuohao.iptv.portal.mcs.newmodule"
            name="Module">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.nanfeng.mcs.create.preference.page.BaseSettingsPreferencePage"
            id="com.zuohao.iptv.portal.mcs.settings"
            name="MCS">
      </page>
      <page
            category="com.zuohao.iptv.portal.mcs.settings"
            class="org.nanfeng.mcs.create.preference.page.ExternalSourcePreferencePage"
            id="com.zuohao.iptv.portal.mcs.settings.externalsource"
            name="External Source">
      </page>
   </extension>

</plugin>
